<h1>Supplier</h1>

<ul>
<li>Name: <%= @supplier.name %></li>
<li>Email: <%= @supplier.email %></li>
<li>Phone Number: <%= @supplier.phone_number %></li>

</ul>
<%= link_to "Update", update_rsvp_path %> 